Package: com.melody.shitboard
Name: shitboard theme
Version: 1.2
Architecture: iphoneos-arm
Description: a "very good" theme
Author: melody
Maintainer: melody
Section: Themes
Depends: com.spark.snowboard, com.spark.snowboard.settingsicons
